<h1>HouseBuddy</h1>

<p>Hi <%= @service.name %>,</p>

<p>A new request has been made by <%= @customer.name %>.</p> 
<p>The details are:</p>

<p>Issue: <%= @issue.content %></p>

<p>Address: <%= @issue.address %></p> 

<p>you can contact him on <%= @customer.mobile %>.</p>
