<nav class="navbar navbar-fixed-top">
  <div class="container-fluid header">
  	<%= link_to "HouseBuddy", "#", id: "logo" %>
    <ul class="nav navbar-nav list">
      <%= link_to "Home", root_url %>
      <%= link_to "Services", services_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "Signin", signin_path %>
    </ul>
  </div>
</nav>