<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title)%>|HouseBuddy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>

<body>

	<div class="top" style="height: 70px">
		<%= render 'layouts/header' %>
	</div>
	<div class="main_body", style="height: 650px;">
	<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
		<%= yield %>
	</div>
	

	<div class="footer">
		<%= render 'layouts/footer' %>
	</div>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
